.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
  align-self: auto;
  margin-left: 16%;
  margin-right: 16%
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: rgb(87, 81, 165);
}

.form {
  justify-content: space-around;
  border: 1px;
  border-style: dotted;
  height: 200px;
  width: 500px;
  margin-left: 35%;
  margin-top: 3rem
}

.customCard {
  text-align: center;
  margin-right: 10%
}

.upperCard {
  margin-bottom: 0.40rem;
  background: rgb(235, 235, 235) !important;
  border: 7px
}

.carouselImage {
  height: 700px;
  width: 400px;
}

.cardImg {
  height: 400px
}

.searchBar {
  margin-top: 0.90rem;
}